<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutor Connect</title>
     <title>Log in</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
</head>
<body>
<style type="text/css">
    .title-name {
        font-size: 60px;
        font-weight: bold;
        font-family: monospace;
        opacity: 1.0;

    }
        .main-outer {
        //background-color: rgba(4498,3487,9976,0.5);
        height: 100%;
        width: 100%;
        background-image: url('../public/images/study.jpg');
        //opacity: 0.5;
        background-repeat: no-repeat;
        background-size:     cover;  
        background-position: center center; 
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
    }
    .main-center {
        padding: 20px;
    }
    .btn-css {
        width: 50%;
        margin: auto;
    }
</style>
    <div class="container main-outer">
        <div class="row main" style="width:40%; margin: 60px auto; background-color: indianred; opacity: 0.9;">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <p class="title-name">Tutor Connect</p>
                </div>
            </div>

            <div class="main-login main-center">
                <form class="form-horizontal" method="post" action="#" style="width:80%; margin: auto;">
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="email" class="form-control" name="name" id="name" placeholder="Enter your email"/>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your School</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-university fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter your school"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your Age</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-university fa" aria-hidden="true"></i></span>
                                <input type="number" class="form-control" name="name" id="name" placeholder="Enter your school"/>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block btn-signin btn-css" type="submit">Sign Up</button>
                </form>
            </div>

        </div>
    </div>
</body>
</html>















