<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Tutor Connect</title>
</head>

<style>
    .row.content {height: 1500px}
    .sidenav {
        background-color: #f1f1f1;
        height: 100%;
    }
    
    h3 {
        color: #a1a1a1;
    }

    footer {
        background-color: #555;
        color: white;
        padding: 15px;
    }

    @media screen and (max-width: 767px) {
        .sidenav {
            height: auto;
            padding: 15px;
        }
        .row.content {height: auto;}
    }
</style>

<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>User's Name</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1">Home</a></li>
                <li><a href="section2">My tutors</a></li>
                <li><a href="section2">My subjects</a></li>
                <li><a href="section2">My posts</a></li>
                <li><a href="section2">My credits</a></li>
            </ul>
        </div>

        <div class="col-sm-9">
            <h4>Post Something</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>


        <h4><small>RECENT POSTS</small></h4>
        <hr>
            <div>
                <h3>Looking for a Math Tutor in Waterloo</h3>
                <h4>Hi, I am looking for a Math Tutor for this coming Summer. I live in Waterloo and I wish that the tutor is a UWaterloo student.
                The paid price is $15 per hour. Please contact me if you are interested in.</h4>
                <h5><span class="glyphicon glyphicon-time"></span>Post by John, May 5, 2018.</h5>
                <h5>Category: <span class="label label-success">Math</span>
                <span class="label lab-sucess">Waterloo</span></h5>
                <h5>Price: <span class="label label-success">$15 / hour</span></h5>
                <p><span class="badge">2</span>Comments</p>
            </div>

        <div class="row">
            <div class="col-sm-2 text-center">
                <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle" height="65" width="65" alt="Avatar">
            </div>
            <div class="col-sm-10">
                <h4>David<small>May 5, 2018, 5:51 PM</small></h4>
                <p>Hey, I am a second year student majoring in Math in UWaterloo. I would like to be your tutor. How many hours per week do you
                want to have the tutorial? I am pretty free this Summer and would like to do something meaningful.</p>
                <div>
                    <a href="#"><i class="fa fa-thumbs-up"></i></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                    <a href="#"><i class="fa fa-comments"></i></a>
                    <a href="#"><i class="fa fa-reply"></i></a>
                </div>
            </div>

            <div class="col-sm-2 text-center">
                <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle" height="65" width="65" alt="Avatar">
            </div>
            <div class="col-sm-10">
                <h4>Sera<small>May 5, 2018, 6:00 PM</small></h4>
                <p>Hey, I am Sera. Can I ask what year are you in? Are you a high school student?</p>
                <div>
                    <a href="#"><i class="fa fa-thumbs-up"></i></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                    <a href="#"><i class="fa fa-comments"></i></a>
                    <a href="#"><i class="fa fa-reply"></i></a>
                </div>
                <p>
                    <span class="badge">1</span>Comment:
                </p><br>
                <div class="row">
                    <div class="col-sm-2 text-center">
                        <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle" height="65" width="65" alt="Avatar">
                    </div>
                    <div class="col-xs-10">
                        <h4>Henrry<small>May 5, 2018, 6:10 PM</small></h4>
                        <p>Hi Sera, yes, I am in my first year in high school.</p>
                        <div>
                            <a href="#"><i class="fa fa-thumbs-up"></i></a>
                            <a href="#"><i class="fa fa-heart"></i></a>
                            <a href="#"><i class="fa fa-comments"></i></a>
                            <a href="#"><i class="fa fa-reply"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        </div>
</div>
</div>

</body>
</html>





















