{% extends "navbar.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
     <title>Log in</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
</head>
<body>
<style type="text/css">
    .title-name {
        font-size: 60px;
        font-weight: bold;
        font-family: monospace;
        opacity: 1.0;
    }
        .main-outer {
        //background-color: rgba(4498,3487,9976,0.5);
        height: 100%;
        width: 100%;
        background-image: url('/static/images/background2.jpg');
        //opacity: 0.5;
        background-repeat: no-repeat;
        background-size:     cover;
        background-position: center center;
        position: relative;
        top: 0; right: 0; bottom: 0; left: 0;
    }
    .main-center {
        padding: 20px;
    }
    .btn-css {
        width: 50%;
        margin: auto;
    }
</style>
      <div class="container main-outer">
        <div class="row main" style="width:40%; margin: 60px auto; background-color: indianred; opacity: 0.9;">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <p class="title-name">Tutor Connect</p>
                </div>
            </div>

            <div class="main-login main-center">
                <form class="form-horizontal" method="POST" action="" style="width:80%; margin: auto;">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">School</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                {{ form.school (type="text", class="form-control", id="school", placeholder="Enter your current school") }}
                            </div>
                        </div>
                    </div>
                     <div class="form-group">
                       <div style="width: 45%; float: left;">
                        <label for="name" class="cols-sm-2 control-label">Grade</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                {{form.grade(type="text", class="form-control", id="school", placeholder="Grade")}}
                            </div>
                        </div>
                       </div>
                       <div style="width:45%; float: right;">
                        <label for="name" class="cols-sm-2 control-label">Age</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                {{form.age(type="text", class="form-control", id="school", placeholder="Age") }}
                            </div>
                        </div>
                       </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Phone</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                {{ form.phone(type="text", class="form-control", id="school", placeholder="Enter your phone number (optional)") }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Address</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                {{form.address(type="text", class="form-control", id="school", placeholder="Enter your current address (optional)") }}
                            </div>
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Subjects</label>
                        <div class="cols-sm-10">
                            <div class="input-group" style="width: 45%; float:left; ">
                              <div>
                                <input type="checkbox" id="coding" name="interest" value="english">
                                <label for="coding" style="font-weight: normal;">English</label>
                              </div>
                              <div>
                                <input type="checkbox" id="music" name="interest" value="maths">
                                <label for="music" style="font-weight: normal;">Maths</label>
                              </div>
                               <div>
                                <input type="checkbox" id="coding" name="interest" value="physics">
                                <label for="coding" style="font-weight: normal;">Physics</label>
                              </div>

                              </div>
                              <div class = "input-group" style="width:45%; float: right;">
                              <div>
                                <input type="checkbox" id="music" name="interest" value="chemistry">
                                <label for="music" style="font-weight: normal;">Chemistry</label>
                              </div>
                                 <div>
                                <input type="checkbox" id="music" name="interest" value="biology">
                                <label for="music" style="font-weight: normal;">Biology</label>
                              </div>
                                 <div>
                                <input type="checkbox" id="music" name="interest" value="french">
                                <label for="music" style="font-weight: normal;">French</label>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Available Days</label>
                        <div class="cols-sm-10">
                            <div class="input-group" style="width:45%; float: left;">
                              <div>
                                <input type="checkbox" id="coding" name="interest" value="monday">
                                <label for="coding" style="font-weight: normal;">Monday</label>
                              </div>
                              <div>
                                <input type="checkbox" id="music" name="interest" value="tuesday">
                                <label for="music" style="font-weight: normal;">Tuesday</label>
                              </div>
                              <div>
                                <input type="checkbox" id="coding" name="interest" value="wednesday">
                                <label for="coding" style="font-weight: normal;">Wednesday</label>
                              </div>
                              <div>
                                <input type="checkbox" id="music" name="interest" value="thursday">
                                <label for="music" style="font-weight: normal;">Thursday</label>
                              </div>


                            </div>
                            <div class="input-group" style="width: 45%; float: right;">

                              <div>
                                <input type="checkbox" id="music" name="interest" value="friday">
                                <label for="music" style="font-weight: normal;">Friday</label>
                              </div>
                              <div>
                                <input type="checkbox" id="music" name="interest" value="saturday">
                                <label for="music" style="font-weight: normal;">Saturday</label>
                              </div>
                              <div>
                                <input type="checkbox" id="music" name="interest" value="sunday">
                                <label for="music" style="font-weight: normal;">Sunday</label>
                              </div>
                            </div>
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">About You</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                {{ form.blurb(type="text", class="form-control", id="school", placeholder="Additional Information (optional)")}}
                            </div>
                        </div>
                    </div>
                    {{ form.submit(class="btn btn-lg btn-primary btn-block btn-signin", position = "center", width = "40%", type="submit", role="button") }}

                </form>
            </div>

        </div>
    </div>
</body>
</html>
{% endblock %}